$fontIcons: arrow-bottom-blue '\EA01', arrow-left '\EA02',
  arrow-right-grey '\EA03', arrow-right '\EA04', arrowDown '\EA05',
  breadCrumbArrow '\EA06', burger '\EA07', close '\EA08', close_popup '\EA09',
  delete '\EA0a', error '\EA0b', error_input '\EA0c', hide-password '\EA0d',
  open-password '\EA0e', pdf '\EA0f', process-control '\EA10',
  production '\EA11', production_security '\EA12', products1 '\EA13',
  products2 '\EA14', products3 '\EA15', search '\EA16', statistic1 '\EA17',
  statistic2 '\EA18', statistic3 '\EA19', statistic4 '\EA1a', success '\EA1b',
  up-right '\EA1c', vacancy '\EA1d';

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconsfont';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconsfont';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/icons/formatted/iconsfont.ttf') format('truetype');
}

@each $font in $fontIcons {
  .icon-#{nth($font, 1)} {
    &:before {
      content: nth($font, 2);
    }
  }
}
