$fontIcons: arrow-bottom-blue '\EA01', arrow-left '\EA02',
  arrow-right-grey '\EA03', arrow-right '\EA04', arrowDown '\EA05',
  breadCrumbArrow '\EA06', burger '\EA07', chevron-right '\EA08', close '\EA09',
  close_popup '\EA0a', delete '\EA0b', error '\EA0c', error_input '\EA0d',
  hide-password '\EA0e', marker '\EA0f', open-password '\EA10', pdf '\EA11',
  process-control '\EA12', production '\EA13', production_security '\EA14',
  products1 '\EA15', products2 '\EA16', products3 '\EA17', search '\EA18',
  small-chevron-left '\EA19', small-chevron-right '\EA1a', statistic1 '\EA1b',
  statistic2 '\EA1c', statistic3 '\EA1d', statistic4 '\EA1e', success '\EA1f',
  up-right '\EA20', upload '\EA21', vacancy '\EA22';

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconsfont';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconsfont';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/icons/formatted/iconsfont.ttf') format('truetype');
}

@each $font in $fontIcons {
  .icon-#{nth($font, 1)} {
    &:before {
      content: nth($font, 2);
    }
  }
}
