$fontIcons: arrow-bottom-blue '\EA01', arrow-left '\EA02',
  arrow-right-grey '\EA03', arrow-right '\EA04', arrowDown '\EA05',
  arrowDown_black '\EA06', basket '\EA07', breadCrumbArrow '\EA08',
  burger '\EA09', chevron-right '\EA0a', close '\EA0b', close_popup '\EA0c',
  closure '\EA0d', coins '\EA0e', danger '\EA0f', date '\EA10', delete '\EA11',
  documents '\EA12', employee '\EA13', error '\EA14', error_input '\EA15',
  euro '\EA16', fork '\EA17', friendly '\EA18', hardwork '\EA19',
  hide-password '\EA1a', loop '\EA1b', mask '\EA1c', messages '\EA1d',
  oil '\EA1e', open-password '\EA1f', other-projects '\EA20', pdf '\EA21',
  percantage '\EA22', planning '\EA23', process-control '\EA24',
  production '\EA25', production_security '\EA26', products1 '\EA27',
  products2 '\EA28', products3 '\EA29', screwdriver '\EA2a', search '\EA2b',
  setting '\EA2c', sheep '\EA2d', small-chevron-left '\EA2e',
  small-chevron-right '\EA2f', spinner '\EA30', statistic1 '\EA31',
  statistic2 '\EA32', statistic3 '\EA33', statistic4 '\EA34', success '\EA35',
  tool '\EA36', tools '\EA37', up-right '\EA38', upload '\EA39', vacancy '\EA3a',
  valuation '\EA3b', working '\EA3c', worldwide '\EA3d';

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconsfont';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconsfont';
  font-weight: normal;
  font-style: normal;
  src: url('~/assets/icons/formatted/iconsfont.ttf') format('truetype');
}

@each $font in $fontIcons {
  .icon-#{nth($font, 1)} {
    &:before {
      content: nth($font, 2);
    }
  }
}
