@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'layout';
@import 'animations';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.blocks_content__info {
  p,
  li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #30454e;
    @include tablet() {
      font-size: 14px;
      line-height: 18px;
    }
  }
  ul {
    padding-left: 30px;
    @include tablet() {
      padding-left: 20px;
    }
    li {
      list-style-type: disc;
    }
  }
}
.programm_career_info {
  p,
  li {
    width: 100%;
    max-width: 548px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #30454e;
  }
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
    }
  }
}
.content_step_text {
  p {
    width: 100%;
    max-width: 776px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #30454e;
    @include tablet() {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.default_modal_text {
  p,
  li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #30454e;
    @include tablet() {
      font-size: 16px;
      line-height: 20px;
    }
  }
  ol {
    padding-left: 30px;
    @include tablet() {
      padding-left: 20px;
    }
    li {
      list-style-type: decimal;
    }
  }
}

.my-clamp1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.my-clamp2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

// breadCrumbs

.breadcrumbs {
  display: flex;
  gap: 15px;
  margin: 25px 0;
  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    /* grey */
    color: #8c9fa6;
  }
}

// section title

.section__title {
  display: flex;
  align-items: center;
  position: relative;
  gap: 15px;
  margin-bottom: 15px;

  svg {
    margin-top: 10px;
  }

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    /* identical to box height, or 114% */

    @media (max-width: 385px) {
      font-size: 38px;
    }
    /* tco 3 */

    color: #015467;
  }

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height, or 121% */

    /* tco 3 */

    color: #015467;

    @media (max-width: 385px) {
      font-size: 24px;
    }
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    float: right;
    /* tco 5 */

    color: #00b0f0;
    position: absolute;
    right: 0px;
    @media (orientation: portrait) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #015467;

  @media (max-width: 385px) {
    font-size: 24px;
  }
}

section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section--blue {
  background: #f2f6f7;
}

// player__preview

.player__preview {
  max-width: 100%;
  object-fit: cover;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* tco 1 */

  color: #30454e;
  // margin: 20px 0;
}

.double-block {
  display: flex;
  justify-content: center;

  @media (max-width: 886px) {
    flex-direction: column;
  }

  div {
    width: 50%;

    @media (max-width: 886px) {
      width: 100%;
    }
  }
  .wrapper {
    max-width: 572px;
    display: flex;
    flex-direction: column;
    @media (max-width: 886px) {
      max-width: none;
    }
  }
  img {
    width: 50%;
    object-fit: cover;

    @media (max-width: 886px) {
      width: 100%;
      object-fit: cover;
    }
  }
}

time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  /* grey */

  color: #8c9fa6;
}

textarea:focus,
input:focus {
  outline: none;
}
