@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'icons';
@import 'reset';
@import 'layout';
@import 'animations';

.blocks_content__info {
  p,
  li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #30454e;
  }
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
    }
  }
}
.programm_career_info {
  p,
  li {
    width: 100%;
    max-width: 548px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #30454e;
  }
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
    }
  }
}

.container {
  max-width: 1176px;
  margin: 0 auto;
}

// breadCrumbs

.breadcrumbs {
  display: flex;
  gap: 15px;
  margin: 25px 0;
  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    /* grey */
    color: #8c9fa6;
  }
}

// section title

.section__title {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 15px;
  margin-bottom: 15px;

  svg {
    margin-top: 10px;
  }

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    /* identical to box height, or 114% */

    /* tco 3 */

    color: #015467;
  }

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height, or 121% */

    /* tco 3 */

    color: #015467;
  }
  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    float: right;
    /* tco 5 */

    color: #00b0f0;
    position: absolute;
    right: 0px;
  }
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  /* identical to box height, or 121% */

  /* tco 3 */

  color: #015467;
}

section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 1160px) {
    padding: 15px;
  }
}

.section--blue {
  background: #f2f6f7;
}

// player__preview

.player__preview {
  max-width: 100%;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* tco 1 */

  color: #30454e;
  // margin: 20px 0;
}

.double-block {
  display: flex;
  justify-content: center;

  @media (max-width: 886px) {
    flex-direction: column;
  }

  div {
    width: 50%;

    @media (max-width: 886px) {
      width: 100%;
    }
  }
  .wrapper {
    max-width: 572px;
    display: flex;
    flex-direction: column;
    @media (max-width: 886px) {
      max-width: none;
    }
  }
  img {
    width: 50%;

    @media (max-width: 886px) {
      width: 100%;
    }
  }
}

time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  /* grey */

  color: #8c9fa6;
}

textarea:focus,
input:focus {
  outline: none;
}
